.sign-up {
  background: white;
  border-radius: 15px;
  padding: 30px;
  box-sizing: border-box;
  background: rgba(24, 103, 168, 0.7);
}

.sign-up h1 {
  text-align: center;
  padding: 20px;
  color: #d6ebff;
}

.sign-up-row {
  display: flex;
}

.sign-up-col-5 {
  width: 50%;
  padding: 10px 0px;
}

.sign-up-col-5:nth-child(1) {
  padding-right: 10px;
}
.sign-up-col-5:nth-child(2) {
  padding-left: 10px;
}

.sign-up a {
  color: #d6ebff;
}
