.profile {
  display: flex;
}

.profile-item {
  padding: 30px;
  width: 28%;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 10px rgba(248, 145, 10, 0.2);
}

.profile-img {
  display: flex;
  justify-content: center;
}

.profile-img img {
  border-radius: 50%;
}

.profile-info {
  margin-top: 8px;
}

.profile-info p:nth-child(1) {
  text-align: center;
  font-weight: bolder;
  font-size: 16px;
  text-transform: uppercase;
}

.profile-info p {
  margin-bottom: 20px;
}

.ticket-history {
  flex-grow: 1;
}

.profile-menu {
  display: flex;
  border-bottom: 1px solid lightgray;
}

.menu {
  padding: 15px;
}

.menu:hover {
  background: linear-gradient(to right, #fbbd61, #ec7532);
}

.update-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-right: 1px solid lightgray;
}

.history {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.active-profile {
  background: linear-gradient(to right, #380db1, #ec7532);
  color: white;
}

.change-profile {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.profile-row {
  display: flex;
  margin-top: 20px;
}

.profile-button {
  width: 100%;
  color: white;
  border: 0px;
  border-radius: 8px;
  height: 40px;
}

.change-info {
  background: linear-gradient(to right, #380db1, #53065e);
}

.change-password {
  background: linear-gradient(to right, #53065e, #ec7532);
}

::-webkit-file-upload-button {
  background: lightgray;
  border: 0px;
  border-radius: 4px;
  padding: 4px 8px;
}

/* Ticket history */
.history-field {
  /* display: flex; */
  margin: 30px;
  border: 1px solid lightgray;
  border-radius: 16px;
}

.menu-field {
  /* border-bottom: 1px solid lightgray; */
  text-align: center;
  display: flex;
}

.menu-field div {
  width: 50%;
  border-bottom: 1px solid lightgray;
}

.menu-field div:nth-child(1) {
  border-right: 1px solid lightgray;
}

.menu-field h5 {
  padding: 16px;
}

.payment-ticket-detail {
  display: flex;
}

.payment-history {
  border-right: 1px solid lightgray;
  width: 50%;
  overflow-y: scroll;
  height: 500px;
}

.history-ticket {
  padding: 20px 0px 0px 20px;
  border-top: 1px solid lightgray;
}

.history-ticket:hover {
  background: lemonchiffon;
}

.change-ticket {
  background: linear-gradient(to right, #380db1, #ec7532);
  padding: 8px 16px;
  color: white;
  border-radius: 8px;
  border: 0px;
  margin-bottom: 20px;
}

.ticket-detail {
  border-top: 1px solid lightgray;
  /* flex-grow: 1; */
  width: 50%;
  padding: 30px;
}

.noPaymentHistory {
  padding: 28px;
  align-items: center;
  font-size: 24px;
}

.active-payment {
  background: rgb(192, 221, 245);
}

.payment-detail {
  padding: 30px;
}
/* 
.onClick-payment {
  background: lightblue;
} */
