.admin-page {
  padding-top: 1em;
  background: black;
}

.general {
  display: flex;
}

.vertical-menu {
  width: 200px;
  border-radius: 4px;
}

.vertical-menu a {
  background-color: #ccc;
  font-family: "JetBrains Mono",monospace;

  color: black;
  display: block;
  padding: 8px;
  text-decoration: none;
  font-size: large;
  background-image: radial-gradient(100% 100% at 100% 0, #5180c6 0, #225793 100%);
  transition: box-shadow .15s,transform .15s;
}

.vertical-menu a:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.vertical-menu a.active {
  background-color: #005f5f;
  color: white;
  border-style: solid;
  background-image: radial-gradient(100% 100% at 100% 0, #098484 0, #095a5a 100%);

}
