.admin-page {
  padding-top: 1em;
  background: black;
}

.general {
  display: flex;
}

.vertical-menu {
  width: 200px;
  border-radius: 4px;
}

.vertical-menu a {
  background-color: #ccc;
  color: black;
  display: block;
  padding: 8px;
  text-decoration: none;
  font-size: large;
  border-style: solid;
  border-color: rgb(60, 60, 227);
}

.vertical-menu a:hover {
  background-color: rgb(31, 166, 245);
}

.vertical-menu a.active {
  background-color: #005f5f;
  color: white;
  border-style: solid;
}