* {
  padding: 0px;
  margin: 0px;
  font-family: "Courier New", Courier, monospace;
}

.MainNav {
  background-image: url("./Carousel-Image/bg-top.jpg");
  height: 25vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 15px; */
  box-sizing: border-box;
  /* border-bottom: 2px dotted black; */
}

.MainNav h1 {
  font-size: 60px;
  font-weight: bolder;
  position: relative;
  color: black;
}

.MainNav ul li {
  display: inline-block;
  padding: 0px 10px;
  font-size: 20px;
}

.MainNav h1::before {
  display: block;
  content: "";
  position: absolute;
  background-image: url("./Carousel-Image/ticket.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  top: 10px;
  left: -150px;
  transform: rotate(45deg);
}

.MainNav h1::after {
  display: block;
  content: "";
  position: absolute;
  background-image: url("./Carousel-Image/ticket.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  top: 10px;
  right: -150px;
  transform: rotate(-45deg) scaleX(-1);
}

.Banner {
  width: 100vw;
  background-image: url("./Carousel-Image/bg.jpg");
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d6ebff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 10px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
