.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  margin: 0;
  border-radius: 4px;
  padding: 0px 26px 0px 0px;
  padding-inline-start: 0px;
}

.nav li {
  font-family: "Oswald", sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0.3s background-color;
  border-radius: 4px;
  padding-left: 4px;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: rgb(31, 166, 245);
  color: #444;
  cursor: default;
}


@media screen and (min-width: 600px) {
  .nav li {
    width: max-content;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: x-large;
    font-weight: lighter;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

  /* Options 2 - Float
    .nav li {
      float: left;
    }
    .nav ul {
      overflow: auto;
      width: 600px;
      margin: 0 auto;
    }
    .nav {
      background-color: #444;
    }
    */
}

.admin-page {
  padding-top: 8em;
  background: black;
}


.nav-fill .nav-link:hover {
  background-color: #005f5f !important;
}

.nav-item a.active {
  background-color: rgb(31, 166, 245);
  color: #444;
  cursor: default;
  font-size: xx-large;
}

.nav-tabs .nav-link.active {
  color: white;
  background-color: black;
  border-color: var(--bs-nav-tabs-link-active-border-color);
}

.nav-fill .nav-item .nav-link {
  font-family: monospace;
  font-size: xx-large;
}